<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.js TypeScript Starter Project</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
    <meta
      http-equiv="Content-Security-Policy"
      content="img-src 'self' data: https://www.google-analytics.com https://image.flaticon.com https://images.unsplash.com;"
    />
  </head>

  <body>
    <div class="flex flex-wrap">
      <div class="w-full sm:w-8/12 mb-10">
        <div class="container mx-auto h-full sm:p-10">
          <nav class="flex px-4 justify-between items-center">
            <div class="text-4xl font-bold">
              Node.ts<span class="text-blue-700">.</span>
            </div>
          </nav>
          <header
            class="container px-4 lg:flex mt-10 items-center h-full lg:mt-0"
          >
            <div class="w-full">
              <h1 class="text-4xl lg:text-6xl font-bold">
                Use <span class="text-blue-700">Node.ts</span>, your node.js
                starter pack using typescript
              </h1>
              <div class="w-20 h-2 bg-blue-700 my-4"></div>
              <p class="text-xl mb-10">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Recusandae maiores neque eaque ea odit placeat, tenetur illum
                distinctio nulla voluptatum a corrupti beatae tempora aperiam
                quia id aliquam possimus aut.
              </p>
              <a
                href="https://github.com/fless-lab/node-ts-starter"
                class="bg-blue-500 text-white text-2xl font-medium px-4 py-2 rounded shadow"
                >Learn More</a
              >
            </div>
          </header>
        </div>
      </div>
      <img
        src="https://images.unsplash.com/photo-1536147116438-62679a5e01f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
        alt="Leafs"
        class="w-full h-48 object-cover sm:h-screen sm:w-4/12"
      />
    </div>
  </body>
</html>
