.idea/
.vscode/
.github/
.husky/
bin/
build/
docker/
node_modules/
.env.example
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc
commitlint.config.js
docker-compose.yaml
makefile
project-tree.py
README.md
